.container {
  width: 50%;
  height: 20px;
  background: linear-gradient(black, #9E9E9E);
  border: 2px solid black;
  border-radius: 20px
}

.container__scale {
  width: 50%;
  height: 20px;
  background: linear-gradient(#BBCDFF, #6A91FF, #BBCDFF);
  border: 1px solid blue;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  box-shadow: 3px 2px 5px 0px black;
}
