* {
  margin-left: 0;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #00319c;
  font-size: 4rem;
}

h4 {
  font-size: 1.5rem;
}

.main-section__image {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e52fd3fef67e50928b010681/-min.jpg);
  border-radius: 50%;
  height: 850px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 850px;
  margin: auto;
}

.main-section__widgets {
  text-align: left;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 300px);
  bottom: 200px;
  z-index: 1;
  margin: auto;
  width: max-content;
}

.main-section__widget {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 200px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);

}

.main-section__widget>p {
  line-height: 30px;
}

.main-section__subimage {
  width: 50px;
  height: 50px;
  text-align: center;
}

.main-section__subimage_cash {
  background-image: url(icons/cash.svg);
}

.main-section__subimage_home {
  background-image: url(icons/home.svg);
}

.main-section__subimage_garage {
  background-image: url(icons/garage.svg);
}

.main-section__subimage_location {
  background-image: url(icons/location.svg);
}

.main-section__subimage_bed {
  background-image: url(icons/bed.svg);
}

.main-section__subimage_patio {
  background-image: url(icons/patio.svg);
}

footer {
  padding: 20px;
  display: flex;
  height: 200px;
  color: white;
  background-color: #333333;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

footer > p {
  width: 500px;
}

@media (max-width: 1090px) {
  .main-section__image {
    width: 531px;
    height: 531px;
  }

  .main-section__widgets {
    bottom: 150px;
  }

  .main-section__widgets {
    grid-template-columns: repeat(2, 290px);
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 630px) {
  .main-section__image {
    width: 379px;
    height: 379px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .main-section__widgets {
    bottom: 100px;
  }

  .main-section__widgets {
    grid-template-columns: repeat(1, 280px);
  }
}