body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #00319c;
  font-size: 4rem;
}

h4 {
  font-size: 1.5rem;
}

.image {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e52fd3fef67e50928b010681/-min.jpg);
  border-radius: 50%;
  height: 850px;
  background-size: cover;
  width: 850px;
  margin: auto;
}

.list {
  text-align: left;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 300px);
  bottom: 100px;
  margin: auto;
  width: max-content;
}

.list-widget {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.list-widget__subimage {
  width: 50px;
  height: 50px;
  text-align: center;
}

.list-widget__subimage_cash {
  background-image: url(icons/cash.svg);
}

.list-widget__subimage_home {
  background-image: url(icons/home.svg);
}

.list-widget__subimage_garage {
  background-image: url(icons/garage.svg);
}

.list-widget__subimage_location {
  background-image: url(icons/location.svg);
}

.list-widget__subimage_bed {
  background-image: url(icons/bed.svg);
}

.list-widget__subimage_patio {
  background-image: url(icons/patio.svg);
}

footer {
  padding: 2rem;
  display: flex;
  height: 200px;
  color: white;
  background-color: #333333;
  align-items: center;
  justify-content: center;
}

footer > p {
  width: 500px;
}

@media (max-width: 1090px) {
  .image {
    width: 531px;
    height: 531px;
  }

  .list {
    grid-template-columns: repeat(2, 290px);
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 630px) {
  .image {
    width: 379px;
    height: 379px;
  }

  h1 {
    font-size: 2rem;
  }

  .list {
    grid-template-columns: repeat(1, 280px);
  }
}